html {
  background-image: radial-gradient(white, gray);
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 0 auto;
  display: block;
  width: 50%;
}

div {
  text-align: center;
}

.contact {
  color: #000;
}

.contact:hover {
  color: #3aa2d2;
}
